* {
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    background-color: rgb(0, 160, 160);
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
        'header'
        'container'
        'footer';
}

.header {
    grid-area: header;
    background-color: rgb(0, 255, 247);
    display: flex;
    align-items: center;
    font-size: 28px;
}

.header-text {
    font-family: cursive;
    font-style: oblique;
    margin-left: 5%;
}

.container {
    grid-area: container;
    display: grid;
    grid-template-columns: 20% 5% 20% 5% 50%;
    grid-template-areas: 'menu left-space center right-space right';
}

.menu {
    grid-area: menu;
    background-color: rgb(255, 0, 255);
    display: flex;
    max-height: 60vh;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    font-size: 24px;
}

.menu ul li {
    padding: 10px;
    border: 1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    width: 120px;
    margin: 10% 0;
    border-radius: 8px;
    text-align: center;
}

.menu ul li a {
    color: inherit;
    text-decoration: none;
}

.menu ol {
    list-style-type: none;
    padding: 0;
    font-size: 24px;
}

.menu ol li {
    padding: 10px;
    border: 1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    width: 120px;
    margin: 10% 0;
    border-radius: 8px;
    text-align: center;
}

.menu ul li:hover {
    background: rgb(0, 255, 0);
    color: rgb(255, 0, 255);
    transition: all 0.6s ease;
}

.menu ol li:hover {
    background: rgb(0, 255, 0);
    color: rgb(255, 0, 255);
    transition: all 0.6s ease;
}

.menu ol li a {
    color: inherit;
    text-decoration: none;
}

.left-space {
    grid-area: left-space;
    max-width: 5vw;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.right-space {
    grid-area: right-space;
    max-width: 5vw;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.center-info {
    grid-area: center;
    display: flex;
    max-height: 60vh;
    background-color: rgb(0, 255, 0);
    padding: 10px;
    font-size: 20px;
    overflow: scroll;
}

.right-info {
    grid-area: right;
    display: grid;
    max-height: 60vh;
    grid-template-rows: 20% 80%;
    grid-template-columns: 45% 10% 45%;
    grid-template-areas:
        'up-info up-info up-info'
        'left-article space right-article';
}

.up-info {
    grid-area: up-info;
    background-color: rgb(240, 255, 64);
    padding: 10px;
    font-size: 20px;
    overflow: scroll;
}

.left-article {
    grid-area: left-article;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(12, 128, 31);
    overflow: scroll;
}

.space {
    grid-area: space;
    max-width: 5vw;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.right-article {
    grid-area: right-article;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer {
    grid-area: footer;
    display: flex;
    background-color: rgb(180, 35, 240);
    align-items: center;
    justify-content: flex-end;
}

.footer-text {
    font-size: 28px;
    margin-right: 5%;
}
