:root {
    --background-color: #1dcc00;
    --header-color: #1613aa;
    --menu-color: #ac06ac;
    --menu-text: #00d600;
    --light-text: #fff;
    --space-color: #e8e8e8;
    --center-info-color: #32c48b;
    --up-info-color: #b8a859;
    --left-article-color: #053c00;
    --footer-color: #7301a2;
    --grid-template:
        'header header header header header header header'
        'menu left-space center right-space up-info up-info up-info'
        'menu left-space center right-space left-article space right-article'
        'footer footer footer footer footer footer footer';
}
